<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
  <h1
    class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white"
  >
    My Technologies
  </h1>



  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">


    <div class="h-auto max-w-full rounded-lg">
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div class="flex flex-col items-center pb-1">
          <img
            class="w-20 h-20 mb-3 rounded-full shadow-lg"
            src="https://sm.ign.com/t/ign_latam/feature/w/why-isnt-r/why-isnt-robert-pattinsons-batman-in-the-penguin_xvrj.1280.jpg"
            alt="Bonnie image"
          />

          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Laravel
          </h5>
        </div>
      </a>
    </div>

    <div class="h-auto max-w-full rounded-lg">
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div class="flex flex-col items-center pb-1">
          <img
            class="w-20 h-20 mb-3 rounded-full shadow-lg"
            src="https://sm.ign.com/t/ign_latam/feature/w/why-isnt-r/why-isnt-robert-pattinsons-batman-in-the-penguin_xvrj.1280.jpg"
            alt="Bonnie image"
          />

          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Laravel
          </h5>
        </div>
      </a>
    </div>

    <div class="h-auto max-w-full rounded-lg">
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div class="flex flex-col items-center pb-1">
          <img
            class="w-20 h-20 mb-3 rounded-full shadow-lg"
            src="https://sm.ign.com/t/ign_latam/feature/w/why-isnt-r/why-isnt-robert-pattinsons-batman-in-the-penguin_xvrj.1280.jpg"
            alt="Bonnie image"
          />

          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Laravel
          </h5>
        </div>
      </a>
    </div>

    <div class="h-auto max-w-full rounded-lg">
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <div class="flex flex-col items-center pb-1">
          <img
            class="w-20 h-20 mb-3 rounded-full shadow-lg"
            src="https://sm.ign.com/t/ign_latam/feature/w/why-isnt-r/why-isnt-robert-pattinsons-batman-in-the-penguin_xvrj.1280.jpg"
            alt="Bonnie image"
          />

          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Laravel
          </h5>
        </div>
      </a>
    </div>


  </div>

  
</div>
